<div class="work-work">
  <img alt="image" [attr.src]="Image" class="work-image" />
  <div class="work-details">
    <div class="work-header">
      <div class="work-heading">
        <span class="work-text">{{ Title }}</span>
        <app-link></app-link>
      </div>
      <span class="work-text1">{{ Description }}</span>
    </div>
    <div class="work-tags">
      <app-tag></app-tag>
      <app-tag Tag="Strategy"></app-tag>
      <app-tag Tag="Web Development"></app-tag>
    </div>
  </div>
</div>
